################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Services/ProductListService/.vs
/Services/ProductListService/ProductListService/obj
