@using ProductListApplication.Controllers
@model ProductListViewModel
@{
    ViewData["Title"] = "Product List";
}

@for (var i = 0; i < Model.Products.Count; i++)
{
    var product = Model.Products[i];
    <a id="Product @i" class="card" href="@Url.Action("LinkClicked", "ProductList", new{productId = product.ProductId})">
        <h3 class="card-title">@product.Name</h3>
        @if (!string.IsNullOrEmpty(product.Description))
        {
            <span class="card-body">@product.Description</span>
        }
        <span class="card-footer text-end">£@product.Price</span>
    </a>
}
